{% extends "base.html" %}

{% block content %}

        <!-- Inner Banner Area -->

        <!-- Inner Banner Area End -->

        <!-- User Area -->
        <div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="user-width">
                    <div class="user-form">
                        <div class="contact-form">
                            <h2>Register Now</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <input name="username" type="text" class="form-control" required data-error="Please enter your Username" placeholder="Enter Your Username">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control" required data-error="Please enter your Username or Email" placeholder="Enter Your Email">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <input  class="form-control" type="password" name="password1" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <input  class="form-control" type="password" name="password2" placeholder="Confirm Password">
                                        </div>
                                    </div>
    
                                    <div class="col-lg-12 ">
                                        <button type="submit" class="default-btn btn-bg-three">
                                            Register Now
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Area End -->


{% endblock %}