{% load static %}
<div class="inner-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-4">
                        <div class="inner-content">
                            <h2>{{ title }}</h2>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>{{ title }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-8">
                        <div class="inner-img">
                            <img src="{{ image_url }}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>